 <footer>
 <div class="container">
      <div class="jumbotron">
        <div class="container-fluid justify-content-center p-0 mx-0">
          <div class="row px-0">
              <div class="col">
                  <div class="card py-5 border-0 card-0">
                      <div class="card-body ">
                          <div class="form-row">
                              <div class="col-12 mb-4">
                                  <h5><b>Refer your friends</b></h5>
                              </div>
                              <div class="col-sm-auto col-12 my-sm-0 mt-3 text-left">
                                <label for="validationCustom01">First name</label> 
                                <input type="text" class="form-control" id="validationCustom01" 
                                placeholder="First name" value="Mark"></div>
                              <div class="col-sm-auto col-12 my-sm-0 mt-4 ">
                                <label for="validationCustom01 ">Contact Number</label>
                                <input type="text" class="form-control" id="validationCustom01" 
                                placeholder="Contact Number" value="88888 88888"> </div>
                              <div class="col-auto align-self-end mt-sm-0 mt-4">
                                <button class="btn btn-block btn-success ml-2 mt-md-0 mt-3">Refer Now</button>
                              </div>
                          </div>
                      </div>
                      <div class="container">
                        <div class="row">
                          <div class="col-4">
                            <h4>services</h4>
                           <p style="font-size: smaller; color: antiquewhite;">
                          Professional Drivers<br>
                          Sanitised Vehicles<br>
                          Best Prices<br>
                          GPS Tracking<br>
                        </p>
                        </div>
                          <div class="col-4">
                            <h4>Contacts</h4>
                           <p style="font-size:smaller; color:antiquewhite"> Through mobile<br>
                            Through mail<br>
                             Through social media
                            </p>
                          </div>
                          <div class="col-4">
                            <h4>About us</h4>
                            <p style="font-size: smaller; color: antiquewhite;">
                            Time Management<br>
                            Perfect billing<br>
                            willing to provide<br>
                            All type of vehicles
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="container">
                        <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoYoutube" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#" class="icoSkype" title="Skype"><i class="fab fa-skype"></i></a></li>
                            <li><a href="#" class="icoWhatsapp" title="Whatsapp"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                     </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
 </div>
</footer>
        
