<!--ryde image-->
<div id="basic" class="container">
    <img src="./assets/images/ryde.jpg" alt="ryde" class="rounded-circle">
</div>
<h1>Rent Cabs,Tempo travellers<br>
& Buses With Best Prices</h1>
<!--selecting cards-->
<h4>Select Your Trip</h4>
<div   class="container">
    <div class="card-deck">
        <div  class="card" style="border-radius:20px; border: 2px solid green;">
            <div class="row">
                <div class="col-6">
                    <h3>Outstation</h3>
                outside of your city
            </div>
            <div class="col-6">
            <img src="./assets/images/minibus.jpg" alt="bus" width="100px" height="100px" class="rounded-circle">
            </div>
             </div>
        </div>
         <div  id="b" class="card" style="border-radius:20px; border: 2px solid green;">
                <div class="row">
                    <div class="col-6">
                        <h3>Hourly Rent</h3>
                         within your city
                    </div>
                    <div class="col-6">
                    <img src="./assets/images/carcartoon.jpg" alt="car" width="120px" height="80px" class="rounded-circle">
                </div>
         </div>
            </div>
                <div  id="c" class="card" style="border-radius:20px; border: 2px solid green;">
                <div class="row">
                    <div class="col-6">
                <h3>Airport </h3>
                 pickup and drop
            </div>
            <div class="col-6">
                <img src="./assets/images/flight.jpg" alt="flight" width="100px" height="100px" class="rounded-circle">
            </div>
                </div>
            </div>
        </div>
</div>
<!--precautions cards-->
<div class="container">
     <p>Our Precautions</p>
    <div class="card-deck">
        <div class="card">
          <div class="card-header">
              <img src="./assets/images/driver.jpg" alt="driver" width="150px" height="200px" class="rounded-circle">
          </div>
          <div class="card-body" style="background-color: indianred; color:white;">
              <h5>Professional Drivers</h5> Verified and Double Dose
              Vaccinated Drivers. 
          </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="./assets/images/sanitisation.jpg" alt="sanitisation" width="150px" height="200px" class="rounded-circle">
            </div>
            <div  class="card-body" style="background-color: indianred; color:white;">
                <h5>Sanitisation Of Vehicle</h5>
                Travel in superior,audited and clean vehicles.
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="./assets/images/prices.jpg" alt="customer" width="150px" height="200px" class="rounded-circle">
            </div>
            <div class="card-body" style="background-color: indianred; color: white;">
                <h5>Transperent Prices</h5>
                Accurate billing,inclusive of GST state tolls,taxes and permits.
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="./assets/images/gps.jpg" alt="gps" width="150px" height="200px" class="rounded-circle">
            </div>
            <div class="card-body" style="background-color: indianred; color:white;">
                <h5>GPS Tracking</h5>
                Enjoy live tracking while waiting. 
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="./assets/images/travelkit.jpg" alt="kit" width="150px" height="200px" class="rounded-circle">
            </div>
            <div class="card-body" style="background-color: indianred; color:white;">
                <h5>Travel Kit</h5>
                Travel and safety essentials for your comfortable journey. 
            </div>
        </div>
    </div>
</div>
<!--vehicles cards-->
<p>Different Vehicles Like</p>
<div class="container">
<div class="card-deck">
    <div class="card" style="background-color: antiquewhite;">
        <div class="card-header">
            <h4>Sedans and SUVs</h4>
            Applicable for<br>
            2-4 people and 4-7 people
        </div>
        <div class="card-body">
            <img src="./assets/images/swift.jpg" alt="car" width="300px" height="200px" class="rounded">
        </div>
    </div>
    <div class="card" style="background-color: antiquewhite;">
        <div class="card-header">
            <h4>Tempo Travellers</h4>
            Applicable for<br>
            8-16 people
        </div>
        <div class="card-body">
            <img src="./assets/images/17 seater.jpeg" alt="tempo" width="300px" height="200px" class="rounded">
        </div>
    </div>
    <div class="card" style="background-color: antiquewhite;">
        <div class="card-header">
            <h4>Mini Buses and Buses</h4>
            Applicable for<br>
            16 above people
        </div>
        <div class="card-body">
            <img src="./assets/images/36 seater.jpeg" alt="bus" width="300px" height="200px" class="rounded">
        </div>
    </div>
</div>
</div>






