    <div class="container">
    <div class="row">
        <div class="card-deck">
        <div class="col-6-xs-sm-md-lg">
            <div class="card">
                <form  class="box">
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p>
                     <input type="text" name="" placeholder="Username" > 
                    <input type="password" name="" placeholder="Password" > 
                    <a class="forgot text-muted" href="">Forgot password?</a> 
                    <input type="submit" name="submit" placeholder="LOGIN"  >
                    <div class="col-md-xs-sm-lg-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

 
 
 
 
 <!--<form #ref="ngForm"(ngLogin)="sendData(ref)">
    <table>
<tr>
    <td>
        <label for="name" id="name"></label></td>
        <td>
    <input type="text" id="name" name="name" placeholder="enter email or mobile number" ngModel>
    </td></tr>
    <tr class="demo"><td>
        <label for="password" id="password"></label></td>
        <td>
        <input type="password" id="password" name="password" placeholder="enter password" ngModel>
        </td>
    </tr>
    </table>
    </form>
    <p>forgot password?</p>
    
    <button class="btn btn-success" type="button">Login</button> -->
    
    

