body
{
background-image: url(../assets/images/car.jpg);
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}

h1{
    background-color: aqua;
    color: orangered;
    text-align: center;
    background-position: center;
}
.demo
{
    display:flex;
    justify-items: right;
}












