<div class="container">
    <div class="row">
        <div class="col-12-xs">
    <div class="card-deck">
    <div class="card">
                <div class="card-header">
                    <img src="./assets/images/26 tempo.jpg" alt="tempo" width="200px" height="200px"  
                    class="rounded-circle" >
                    <div class="card-caption"><p>AC</p></div>
                </div>
                <div class="card-body">38 rupees per kilometer</div>
                <div class="card-footer">
                    <button type="button " class="btn btn-success">Readmore</button>
                </div>
            </div>
            <div   class="card">
                <div class="card-header">
                    <img src="./assets/images/26 tempo 2.jpg" alt="tempo" class="rounded-circle" width="200px" height="200px">
                    <div class="card-caption">
                        <p>NON AC</p>
                    </div>
                </div>
                <div class="card-body">
                    30 rupees per kilometer
                </div>
                <div class="card-footer">
                <button type="button" class="btn btn-success">Readmore</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Other Information
                </div>
                <div class="card-body">
                    <p>Customers need to pay <br>extra charges to the government <br>
                        like border taxes,toll charges.<br>
                        And they need to pay <br>500 rupees per day to<br> the driver and also have to arrange the accomodation
                        and the breakfast,
                        lunch and dinner to their driver </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success">Readmore</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>