
<div class="container">
    <div class="jumbotron">

<div class="carousel" id="first" data-ride="carousel">
  <!--indicator-->
  <ul class="carousel-indicators">
      <li data-target="#first" data-slide-to="0" class="active"></li>
      <li data-target="#first" data-slide-to="1"></li>  
      <li data-target="#first" data-slide-to="2"></li>
      <li data-target="#first" data-slide-to="3"></li> 
      <li data-target="#first" data-slide-to="4"></li> 
      </ul>
       <div class="carousel-inner">
       <div class="carousel-item active">
                    <img src="./assets/images/36 seater.jpeg" alt="bus" width="100%" height="400px">
                    <div class="carousel-caption"><p>Bus</p></div>
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/26 tempo 2.jpg" alt="26tempo" width="100%" height="400px">
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/26 tempo.jpg" alt="26tem" width="100%" height="400px">
                </div>
                <div class="carousel-item">
                  <img src="./assets/images/17 seater.jpeg" alt="26tem" width="100%" height="400px">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/innova.jpg" alt="26tem" width="100%" height="400px">
            </div>
       </div>
       <!--prev and next-->
       <a href="#first" class="carousel-control-prev" data-slide="prev">
           <span class="carousel-control-prev-icon"></span>
       </a>
       <a href="#first" class="carousel-control-next" data-slide="next">
           <span class="carousel-control-next-icon"></span>
       </a>
</div>
    </div>
</div>
<div class="container">
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="./assets/images/safety.jpg" alt="safety" class="rounded-circle">
        </div>
        <div class="card-body">
            SAFETY+
        </div>
        <div class="card-footer">
            <p>With Safety+ we have brought in a set of measures like Sanitized buses, 
                mandatory masks etc. to ensure you travel safely in India.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="./assets/images/customer.jpg" alt="customer" height="210px" class="rounded-circle">
        </div>
        <div class="card-body">
            SUPERIOR CUSTOMER SERVICE
        </div>
        <div class="card-footer">
           <p> We put our experience and relationships to good 
            use and are available to solve your bus travel issues.
        We have all vaccinated drivers.
        </p>
         </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="./assets/images/rupees.jpg" alt="rupees" class="rounded-circle" height="210px">
        </div>
        <div   class="card-body">
            LOWEST PRICES
        </div>
        <div class="card-footer">
            <p>We always give you the lowest price with the best partner offers.
               Even middle class and economically backward people also able to travel with us.
            </p>
        </div>
    </div>

</div>
</div>
      
    